<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | NOWNESS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="https://kit.fontawesome.com/7023abba24.js" crossorigin="anonymous"></script>
</head>
<body>
     <!-- Component 1: Header & Main Nav-->

    <h1 class="component__header">Web Design System</h1>

    <p class="component__p">This is a collection of components based on my study of the design system of the NOWNESS website.</p>

    <article class="component">
        <h2 class="component__title">TYPOGRAPHY</h2>
        <h3 class="component__name">body</h3>
        <div class="component__image">
            <img src="img/body.png" alt="header image" width="510">
        </div>
        <div class="component__code">
            <p>Ryan Zemke revisits lives lived through the imagination, and the
            </p>
            <p>people and places that define both our memories and sense of self</p>
        </div>
    </article>

    <!-- Component 1: Header & Main Nav-->
    <h2 class="component__title">PAGE HEADER</h2>
    <h3 class="component__name">.header</h3>
    <img src="img/HeaderNav.png" alt="Screenshot of Website" width="1100">

    <header class="header-container">
        <div class="dropdown"><a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
            
        <h1 class="site-name">NOWNESS</h1>

        <div class="header-icons">
          <ul class="icon-list">
            <li class="icon-header"><a href="#"><i class="fa-solid fa-magnifying-glass fa-rotate-90"></i></a></li>
            <li class="icon-header"><a href="#"><i class="fa-solid fa-play"></i></a></li>
            <li class="icon-header"><a href="#"><i class="fa-solid fa-user"></i></a></li>
          </ul>
        </div>
    </header>
    
    <nav class="nav-container">
      <div class="nav-menu">
        <a href="#" class="nav-link">SERIES</a>
        <a href="#" class="nav-link">TOPICS</a>
        <a href="#" class="nav-link">PICKS</a>
        <a href="#" class="nav-link">SPECIAL PROGRAMS</a>
      </div>
    </nav>

    <!-- Component 2: Main: Image, Video Play, Header, Paragraph -->
    <h2 class="component__title">MAIN SECTION</h2>
    <h3 class="component__name">.main</h3>
    <main>
    <img src="img/Main.jpg" alt="Screenshot of Website" width="1100">
    <figure class="main-container">
      <img class="main-image" src="https://source.unsplash.com/random/1100x600?v=5" alt="random unsplash image">
      <figcaption> 
        <i class="fa-regular fa-circle-play"></i>
        <h2>Process and Focus</h2>
        <p>Travelling through Peru, fasion brand Lauren Manoogian finds clarity in the craft that brings its vision into being.</p>
      </figcaption>
    </figure>
    </main>
    <h2 class="component__title">CAROSEL</h2>
    <h3 class="component__name">.carosel</h3>
    <img src="img/Carosel.jpg" alt="Screenshot of Website" width="1100">
    <section class="carosel">
      <div class="carosel-card">
        <h3>October 30</h3>
        <div class="image-container">
          <img class="card-image" src="https://source.unsplash.com/random/250x160?v=1" alt="random unsplash image">
          <p class="card-timebox"> 12:19</p>
        </div>
        <p class="card-details">Private View: Limb after Limb</p>
      </div>
      <div class="carosel-card">
        <h3>October 27</h3>
        <div class="image-container">
          <img class="card-image" src="https://source.unsplash.com/random/250x160?v=2" alt="random unsplash image">
          <p class="card-timebox"> 19:04</p>
        </div>
        <p class="card-details">NOWNESS Shorts: Blood Rites.</p>
      </div>
      <div class="carosel-card">
        <h3>October 25</h3>
        <div class="image-container">
          <img class="card-image" src="https://source.unsplash.com/random/250x160?v=3" alt="random unsplash image">
          <p class="card-timebox"> 02:32</p>
        </div>
        <p class="card-details">Video Art Visions: Quiladelphia</p>
      </div>
      <div class="carosel-card">
        <h3>October 23</h3>
        <div class="image-container">
          <img class="card-image" src="https://source.unsplash.com/random/250x160?v=4" alt="random unsplash image">
          <p class="card-timebox"> 03:53</p>
          <img class="last-image-carosel" src="img/caroselarrow.jpg" alt="left facing arrow" height="40">
        </div>
        <p class="card-details">Great Escapes: La Iglesia de Tas</p>
      </div>
    </section>
</body>
</html>