<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | NOWNESS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="https://kit.fontawesome.com/7023abba24.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="component__header">Web Design System</h1>

    <p class="component__p">This is a collection of components based on my study of the design system from the NOWNESS website.</p>
   
    <!-- Section 1: Typography -->
    <!-- Components: Body, H1,H2,h4..., a-->
    <article class="component">
        <h2 class="component__title">TYPOGRAPHY</h2>
        <h4 class="component__name">body</h4>

        <div class="component__image">
            <img src="img/body.png" alt="body text image" width="510">
            <p class="name-box">IMG</p>
        </div>

        <div class="component__code">
            <p>Ryan Zemke revisits lives lived through the imagination, and the
            </p>
            <p>people and places that define both our memories and sense of self</p>
        <p class="name-box">CODE</p>
        </div>
    </article>
    <article class="component">
        <h4 class="component__name">h1,h2,h3,h4,5</h4>

        <div class="component__image">
            <img class="site-image" src="img/H1.png" alt="header 1 image" width="410">
            <img src="img/H2b.png" alt="header 2 image" width="410">
            <img src="img/H3.png" alt="header 3 image" width="190">
            <img src="img/H4.png" alt="header 4 image" width="100">
            <img src="img/H5.png" alt="header 5 image" width="180">
            <p class="name-box">IMG</p>
        </div>

        <div class="component__code header-examples">
            <h1>NOWNESS</h1>
            <h2>PROCESS & FOCUS</h2>
            <h3>TIME & PLACE</h3>
            <h4>October 30</h4>
            <h5>Just Dance: Sink or Swim</h5>
        <p class="name-box">CODE</p>
        </div>
    </article>


    <!-- Section 2: Atoms -->
    <!-- Components: Nav-Toggle, Icons, Button-->
    <article class="component">
        <h2 class="component__title">ATOMS</h2>
        <h4 class="component__name ">.nav-toggle</h4>

        <div class="component__image">
            <img src="img/nav-toggle.jpg" alt="body text image" width="60" class="nav-space">
            <p class="name-box">IMG</p>
        </div>

        <div class="component__code">
            <div class="dropdown"><a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
        <p class="name-box">CODE</p>
        </div>
    </article>
    <article class="component">
        <h4 class="component__name ">.icons</h4>

        <div class="component__image">
            <img src="img/Header-Icons.jpg" alt="body text image" width="150" class="nav-space">
            <p class="name-box">IMG</p>
        </div>

        <div class="component__code">
            <div class="atom-icons">
                <ul class="icon-list">
                    <li class="icon-header"><a href="#"><i class="fa-solid fa-magnifying-glass fa-rotate-90"></i></a></li>
                    <li class="icon-header"><a href="#"><i class="fa-solid fa-play"></i></a></li>
                    <li class="icon-header"><a href="#"><i class="fa-solid fa-user"></i></a></li>
                </ul>
            </div>
        <p class="name-box">CODE</p>
        </div>
    </article>

    <!-- Section 3: Header-->
    <!-- Components: Header & Main Nav-->

    <article class="component">
        <h2 class="component__title">PAGE HEADER</h2>

        <h4 class="component__name">.header</h4>

        <div class="component__image">
            <img src="img/HeaderNav.png" alt="Screenshot of Website" width="1100">
            <p class="name-box">IMG</p>
        </div>
    
        <div class="component__code">
            <header class="header-container">
                <div class="dropdown"><a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                    
                <h1>NOWNESS</h1>

                <div class="header-icons">
                <ul class="icon-list">
                    <li class="icon-header"><a href="#"><i class="fa-solid fa-magnifying-glass fa-rotate-90"></i></a></li>
                    <li class="icon-header"><a href="#"><i class="fa-solid fa-play"></i></a></li>
                    <li class="icon-header"><a href="#"><i class="fa-solid fa-user"></i></a></li>
                </ul>
                </div>
            </header>
            <nav class="nav-container">
            <div class="nav-menu">
                <a href="#" class="nav-link">SERIES</a>
                <a href="#" class="nav-link">TOPICS</a>
                <a href="#" class="nav-link">PICKS</a>
                <a href="#" class="nav-link">SPECIAL PROGRAMS</a>
            </div>
            <p class="name-box">CODE</p>
            </nav>
        </div>  
    </article>
    <!-- Section 4: Main-->
    <!-- Components: Main: Image, Video Play, Header, Paragraph -->
    <article class="component">
        <h2 class="component__title">MAIN SECTION</h2>
        <h4 class="component__name">.main</h4>
        

        <div class="component__image">
            <img src="img/Main.jpg" alt="Screenshot of Website" width="1100">
            <p class="name-box">IMG</p>
        </div>

        <div class="component__code">
        <article class="main"> 
            <figure class="main-container">
            <img class="main-image" src="../img/mainphoto.jpg" alt="random unsplash image">
            <figcaption> 
                <i class="fa-regular fa-circle-play"></i>
                <h2>Process and Focus</h2>
                <p>Travelling through Peru, fasion brand Lauren Manoogian finds clarity in the craft that brings its vision into being.</p>
            </figcaption>
            </figure>
        </article>
            <p class="name-box">CODE</p>
        </div>   
    </article>

     <!-- Section 5: Carosel-->
    <!-- Components: Image, Timebox, H4, Paragraph -->    
    <article class="component carosel-over">
        <h2 class="component__title">CAROSEL</h2>

        <h4 class="component__name">.carosel</h4>

        <div class="component__image">
            <img src="img/Carosel.jpg" alt="Screenshot of Website" width="1100">
            <p class="name-box">IMG</p>
        </div>

        <div class="component__code extra">
            <div class="carosel-container">
            <section class="carosel">
                <div class="carosel-card">
                    <h4>October 30</h4>
                    <div class="image-container">
                    <img class="card-image" src="../img/carosel1.jpg" alt="random unsplash image">
                    <p class="card-timebox"> 12:19</p>
                    </div>
                    <p class="card-details">Private View: Limb after Limb</p>
                </div>
                <div class="carosel-card">
                    <h4>October 27</h4>
                    <div class="image-container">
                    <img class="card-image" src="../img/carosel2b.jpg" alt="random unsplash image">
                    <p class="card-timebox"> 19:04</p>
                    </div>
                    <p class="card-details">NOWNESS Shorts: Blood Rites.</p>
                </div>
                <div class="carosel-card">
                    <h4>October 25</h4>
                    <div class="image-container">
                    <img class="card-image" src="../img/carosel3b.jpg" alt="random unsplash image">
                    <p class="card-timebox"> 02:32</p>
                    </div>
                    <p class="card-details">Video Art Visions: Quiladelphia</p>
                </div>
                <div class="carosel-card">
                    <h4>October 23</h4>
                    <div class="image-container">
                    <img class="card-image" src="../img/carosel4b.jpg" alt="random unsplash image">
                    <p class="card-timebox"> 03:53</p>
                    </div>
                    <p class="card-details">Great Escapes: La Iglesia de Tas</p>
                </div>
            </section>
                <img class="last-image-carosel" src="img/caroselarrow.jpg" alt="left facing arrow" height="35">
            </div>
            <p class="name-box">CODE</p>
        </div>    
    </article>  

</body>
</html>